#Board {
	max-width: 800px;
	margin: 50px auto;
	display: flex;
	flex-wrap: wrap;

}

#Board div {
	min-width: 30%;
	min-height: 130px;
	border: 3px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: url(ep.png), 15px;
}

#Board div:hover {
	background-color: black;
  color: white;
}
